/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/CTestTestfile.cmake
/Testing/
/compile_commands.json
/CMakeUserPresets.json

*.replay
/.swarmnet-multiprocess/

/.idea/
/.vscode/
*.swp

.DS_Store
Thumbs.db
